version: '3.4'

services:
  testtask.depthquotessystem.marketdataservice:
    image: ${DOCKER_REGISTRY-}testtaskdepthquotessystemmarketdataservice
    build:
      context: .
      dockerfile: TestTask.DepthQuotesSystem.MarketDataService/Dockerfile
    ports:
      - "3001:80"
    environment:
      MESSAGEBUS_CONNECTION_STRING: "nats://nats:4222"
      MESSAGEBUS_BOOK20_CHANEL_NAME: "MarketData.Book20"
    links:
      - nats
    depends_on: 
      - nats
  testtask.depthquotessystem.orderbook:
    image: ${DOCKER_REGISTRY-}testtaskdepthquotessystemorderbook
    build:
      context: .
      dockerfile: TestTask.DepthQuotesSystem.OrderBook/Dockerfile
    ports:
      - "3002:80"
    environment:
      MESSAGEBUS_CONNECTION_STRING: "nats://nats:4222"
      MESSAGEBUS_BOOK20_CHANEL_NAME: "MarketData.Book20"
      MESSAGEBUS_ORDERBOOK_SNAPSHOOT_CHANEL_NAME: "OrderBook.Snapshot"
    links:
      - nats
    depends_on: 
      - nats
  nats:
    image: 'nats:latest'
    expose:
      - "4222"
    ports:
      - "8222:8222"
    hostname: nats-server